.card {
  width: 90%;
  min-height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;

  padding: 1rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: var(--radius-lg);
  overflow: hidden;

  color: #12131a;
  text-align: center;
}

.card_number {
  display: block;

  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.card_label {
  display: block;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}


/* TABLET */
@media (min-width: 768px) {

  .card {
    padding: 2rem;
    border-radius: 2cqb;
    width: 33%;
  }

  .card_number {
    font-size: 4rem;
  }

  .card_label {
    font-size: 2rem;
  }
}
