header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1cqmax;
  gap: 2rem;
  font-size: 1rem;
}

.container-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.btn-dark {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: .75rem;
  cursor: pointer;
  background-color: var(--bg-surface);
}

.btn-dark img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

/* TABLET */
@media (min-width: 768px) {
  header {
    width: 90%;
    font-size: 2rem;
    justify-content: space-between;
  }


  .logo {
    width: 10rem;
    height: 10rem;
  }

  .btn-dark {
    width: 6rem;
    height: 6rem;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {}