header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.container-logo{
  display: flex;
  align-items: center;
}

.logo {
  width: 7rem;
  height: 7rem;
}

.btn-dark {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: .75rem;
  cursor: pointer;
}

.btn-dark img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}