.container-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-md);
  margin: .5rem;
}

/* TABLET */
@media (min-width: 768px) {
  .container-cards {
    flex-direction: row;
    gap: var(--spacing-md);
    width: 90%;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {}